/* STYLE-FIL FÖR PROJEKT I GRAFISK TEKNIK FÖR WEBB. JELI2308. */
/* STYLE FÖR INDEX. */

/* Container för bildkarusell. */
.carousel-container {
    overflow: hidden;
    white-space: nowrap;
}

/* Bildkarusell. */
.img-carousel {
    display: inline-block;
    animation: 45s carousel infinite linear;
}

/* Bilder inom bildkarusell. */
.img-carousel img {
    width: 300px;
    height: 300px;
    margin: 0.5rem;
}

/* Animation för bildkarusell. */
@keyframes carousel {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Container för bilder på produktsidan. */
.new-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Bilder på produktsidan (varje artikel). */
.product-item {
    position: relative;
    max-width: 360px;
    height: auto;
}

/* Bildstorlek. */
.product-item img {
    width: 100%;
    height: auto;
}

/* Text över produktnyheterna. */
.product-item h3 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.35);
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.25em;
}

/* Mediaqueries för större skärmar. */
@media (min-width: 426px) {

    /* Centrerar brödtexten. */
    p:not(footer p) {
        margin: 2rem auto;
    }
}

@media (min-width: 1920px) {
    /* Ökar textstorleken. */
    main {
        font-size: larger;
    }
}