/* STYLE-FIL FÖR PROJEKT I GRAFISK TEKNIK FÖR WEBB. JELI2308. */
/* STYLE FÖR INDIVIDUELLA PRODUKTSIDOR. */

/* Container för produktbild under individuella produktsidor. */
.product-img {
    display: inline-block;
    text-align: center;
}

/* Bild. */
.product-img img {
    width: 100%;
    max-width: 425px;
    height: auto;
}

/* Annorlunda H2 på individuella produktsidorna. */
.connection-h2 {
    background-color: transparent;
    font-family: "Josefin Sans", Verdana, sans-serif;
    text-align: left;
    margin-top: 0;
    padding: 1rem;
}

/* Lista med egenskaper för produkt. */
.properties {
    margin: 1rem 2rem;
    line-height: 1.6;
}

/* Rubrik för pris. */
.price {
    background-color: transparent;
    text-align: left;
    margin: 2rem 0 0 1rem;
    font-size: 1.5em;
    font-weight: normal;
}

/* Lägg i varukorgen-knapp-container. */
.button {
    display: flex;
    justify-content: left;
    margin: 1rem 1rem;
}

/* Lägg i varukorgen-knapp. */
.button button {
    font-family: "Josefin Sans", Verdana, sans-serif;
    background-color: #f652a0;
    border: none;
    color: #ffffff;
    width: 400px;
    padding: 1.5rem 2rem;
    margin: 0.5rem 0 0 0;
    font-size: 1.35em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover-effekt på knapp (som görs smidig med transition ovan). */
.button button:hover {
    background-color: #36eee0;
    color: #000000;
}

/* Annorlunda H2 för produktfilms-rubrik. */
.movie-h2 {
    margin: 5rem auto 0 auto;
    max-width: 1000px;
}

/* Container för iframe. */
.movie-container {
    display: flex;
    justify-content: center;
    margin: 0 auto 3rem auto;
    max-width: 600px;
}

/* iframe. */
.iframe {
    margin: 2rem 1rem;
}

/* Mediaqueries för större skärmar. */
@media (min-width: 426px) {

    /* Sektioner med produktinformation. */
    .product-img, 
    .product-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* Vänsterjusterar text-innehåll och knapp samt begränsar bredd. */
    .connection-h2,
    .product-info p,
    .properties,
    .price,
    .button {
        text-align: left;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }

    /* Margin och padding för rubriker. */
    .connection-h2 {
        padding: 1.5rem 0;
    }

    .properties {
        padding: 1rem;
    }

    .price {
        margin: 1rem 0;
    }
}

/* Mediaqueries för större skärmar. */
@media (min-width: 1025px) {

    /* Placerar produktinformation i två kolumner. */
    .all-info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        margin: 3rem auto;
    }
}

@media (min-width: 1920px) {
    /* Ökar textstorleken. */
    main {
        font-size: larger;
    }
}