/* STYLE-FIL FÖR PROJEKT I GRAFISK TEKNIK FÖR WEBB. JELI2308. */

/* Normalisering. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Regler för body. */
body {
    font-family: "Josefin Sans", Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Regler för header. */
header {
    position: relative;
    z-index: 10;
    background-color: #000000;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
}

/* Logotyp i headern. */
#header-logo {
    width: 100%;
    height: 100%;
} 

/* NAVIGERING I HEADERN. */

/* Desktop-meny syns inte < 769px. */
#desktop-links {
    display: none;
}

/* Hamburger-meny, ikon. */
#mobile-menu {
    display: block;
    cursor: pointer;
}

/* Hamburger-meny, länkar. */
#mobile-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #36eee0;
    position: absolute;
    top: -200%;
    left: 0;
    padding: 1.5rem 0;
    transition: top 0.55s ease-in-out;
}

#mobile-links li {
    list-style: none;
    margin: 1rem 0;
    font-size: 1.2em;
    font-weight: bold;
}

#mobile-links li a {
    color: #000000;
    text-decoration: none;
}

/* Ikon för varukorg, mobil-meny. */
#mobile-links .fa-solid {
    color: #000000;
}

/* Ikon för varukorg, desktop-meny. */
header .fa-solid {
    color: #ffffff;
}

/* Regler för ikoner i header. */
#mobile-links .fa-solid,
#desktop-links .fa-solid {
    margin-left: 0.75rem;
    font-size: 0.85em;
}

/* Regler för main. */
main {
    background-color: #ffffff;
}

/* Brödsmulor. */
#breadcrumbs {
    text-align: left;
    margin: 1rem;
}

/* Footer. */
footer {
    background-color: #000000;
    max-height: 150px;
    color: #ffffff;
    margin-top: auto;
    padding: 1rem 1.5rem;
    line-height: 1.6;
}

/* Länkar i footern. */
footer a {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}

footer a:hover {
    text-decoration: none;
}

/* Ikoner i footern. */
footer .fa-solid {
    margin-right: 0.3rem;
}

footer .fa-location-dot {
    color: #f652a0;
}

footer .fa-phone {
    color: #bcece0;
}

footer .fa-envelope {
    color: #36eee0;
}

/* Logotyp i footern, visas inte i mobil-läge. */
#footer-logo {
    display: none;
}

/* Mediaquery för större skärmar. */
@media (min-width: 769px) {

    /* Desktop-meny, länkar. */
    #desktop-links {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #desktop-links li {
        list-style-type: none;
        margin: 1rem;
        font-weight: bold;
        font-size: 1.2em;
    }

    #desktop-links li a {
        text-decoration: none;
        color: #ffffff;
    }

    /* Hover-effekt för länkar. */
    #desktop-links li a:hover {
        color: #36eee0;
    }

    /* Hamburger-meny, ikon och länkar syns inte. */
    #mobile-menu {
        display: none;
    }

    #mobile-links {
        display: none;
    }

    /* Footer. */
    footer {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem;
    }

    /* Logotyp. */
    #footer-logo {
        display: block;
    }
}


/* Aktivt läge för mobil-menyn. */
#mobile-links.active {
    top: 100%;
}