/* STYLE-FIL FÖR PROJEKT I GRAFISK TEKNIK FÖR WEBB. JELI2308. */
/* STYLE FÖR PRODUKTSIDAN. */

/* Container för bilder på produktsidan. */
.our-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1445px;
    gap: 2rem;
    margin: 3rem auto 3rem auto;
}

/* Bilder på produktsidan (varje artikel). */
.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 360px;
    height: auto;
}

/* Bildstorlek. */
.product-item img {
    width: 100%;
    height: auto;
}

/* Annorlunda H2 på produktsidan, under varje bild. */
.celebrity-h2 {
    font-family: "Josefin Sans", Verdana, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    background-color: #bcece0;
    margin-top: 10px;
    max-width: 100%;
    width: 100%;
}

/* Mediaquery för större skärmar. */
@media (min-width: 1920px) {
    /* Ökar textstorleken. */
    main {
        font-size: larger;
    }
}